# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

#files
serverless.ts
src/functions/receiver/pizzaplanet-lxth-1e6b9c18ac64.json
README.example.md